/*estou a dizer que quando a minha tela ficar muito pequeno para
jogar o menu pra baixo da logo*/
@media screen and (max-width:700px){
    .logo{
        display: flex;/*colocar tudo na mesma linha*/
        flex-direction: column;
        margin-bottom: -30px;
        margin-left: 0px;  
    }
    /*mandar os botões para baixo quando a tela ficar muito pequena*/
    .btn{
        margin-top:  5px; /*espaçamento entre os botões para não ficarem colados*/
        width: 200px;
        margin-top: 20px;;
    }
    .sobre-mim h2{
        display: flex;/*colocar tudo na mesma linha*/
        flex-direction: column;
        margin-bottom: 30px;
        margin-left: 150px;  
        margin-top: 0px;
    }
    .sobre-mim p{
        display: flex;/*colocar tudo na mesma linha*/
        flex-direction: column;
        margin-bottom: -30px;
        margin-left: 40px;  
        margin-right: 40px;
    }
    .sobre-mim img{
        margin-top: 50px;
        margin-left: 40px;
        width: 250px;
        align-items: center;
        
    }
    .skills .conhecimento{
      
        font-size: 25px;               
    }
    section {
    margin-top: -40px;
    }
    .skills .skills-content,
.contact .contact-content {
    margin-left: -15px;
    
    
}
}

/*podemos fazer outro media query para texto */
@media screen and (min-width:1200px){
   .descricao{
       width: 50%;
       
   } 
.typed-text{
    text-align: justify;
}
}

    
    