@import url("https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700&family=Josefin+Slab:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&family=Muli:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&display=swap");
:root {
    --font-primary: "Baloo Da 2", serif;
    --font-secundary: "Josefin Slab", serif;
    --font-action: "Muli", serif;
  }
  
*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'poppins' , sans-serif;
    text-decoration: none;

}
/*Body*/
body{
    background:#f2f2f2  ;
}
/*logo*/
nav .logo{
    float: left;
    color: white;
    font-size: 27px;
    font-weight: 600px;
    line-height: 70px;
    padding-left:60px;
}
nav .logo a {
    color: whitesmoke;
    text-decoration: none;
}
/*Menu*/
nav{
    background:rgba(19, 17, 17, 0.7);
    position: fixed;
        width: 100%;
        z-index:200;
        padding: 0px ;
        transition: all 0.3s ease;
}

nav:after{
    content: '';
    clear: both;
    display: table;
}
nav ul{
    float: right;
    list-style: none;
    margin-right: 40px;
    position: relative;
}
nav ul li{
    float: left;
    display: inline-block;
    background-color: rgba(19, 17, 17,);
    margin: 0  5px;
    margin-top: 10px;
}
nav ul li a{
    color:white;
    text-decoration: none;
    line-height: 50px;
    font-size: 18px;
    padding: 8px 15px ;
    padding-right: 10px;
}
/*Menu effects*/
nav ul li a:hover{
    color: cyan;
    border-radius: 5px;
    box-shadow: 0 0 5px #33ffff ;
    text-decoration: none;
                
}
/*Remove the effects in the submenu*/
nav ul ul li a:hover{
    color:cyan;
    box-shadow: none;
}

nav ul ul{
    position: absolute;
    top: :90px;
    opacity: 0;
    visibility:hidden;
    transition: top .3s;
} /*make the submenu appear*/
nav ul li:hover > ul{
    opacity: 1;
    visibility: visible;
    
}
nav ul ul li{
    position: relative;
    margin: 0px;
    width: 150px;
    float: none;
    display: list-item;
    border-bottom: 1px solid rgba(19, 17, 17, 0.7);
}
nav ul ul ul li{
    
position: relative;
top: -70px;;
left:150px ;
}

/*Main content*/
.conteudo-principal{
    
    font-size: 16px;
    /*Aplicar opacidade, transparencia na capa*/
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.30)100%),url('../img/bg1.jpg');
    height: 700px;
    background-size: cover;/*para especicar tamanho da imagem*/
    display: flex; /*joga os elementos em linha ou coluna*/
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;/*para que elementos comecem sempre da esquerda*/
    color:whitesmoke;
    
}
 /*Button formatting*/
 .conteudo-principal .descricao{
    margin-bottom: 10px
    
}
.conteudo-principal h3{
    margin-top: 10px;
}
.titulo{
    margin-top:30 %;
    font-size: 30px;
    font-family: "Baloo Da 2", serif;
} 
.conteudo-principal p{
    margin-top: 15px;
    font-primary: "Baloo Da 2", serif;
}
.typed-text{
    color: cyan;
}
/*Button formatting*/
    .btn{
        background-color: rgb(62, 124, 124);
        border: none;
        color:white;
        padding: 10px 30px;
        border-radius: 10px;
        margin-top:25px;;
        cursor: pointer;
        transition: 1s ease all;
        font-size: 16px;    
    }/*made of the button*/
    .btn:hover{
        background-color:#fff;
        color:black;
    }
   /* icon button spacing*/
    .btn i{
        margin-right: 8px;
    }
   /*Container 2*/
    .container_2{
        margin-left: 60px;
        text-align: justify;
        margin-bottom: 50px;
    }
    .conteudo-principal .container_2{
        width:70% ; /*ocupação do texto  na nossa tela*/

    }
    /*sobre*/
    .sobre-mim h2{
        
            display: flex;
            flex-wrap: wrap;
            margin-left: 500px;
            margin-top: 30px;
            padding-top: 10px;
            font-family: 'poppins' , sans-serif;
      }
    .sobre-mim p{
        
        display: flex;
        flex-wrap: wrap;
        margin-left: 500px;
        margin-top: 30px;
        text-align: justify;
        margin-right: 110px;    
        margin-bottom: -30px;  
        font-size: 16px; 
        font-family: 'poppins' , sans-serif;
    }
.sobre-mim img{
        
    margin-top: -150px;
    margin-left: 110px;
    margin-bottom: 15px;
    

}
.sobre-mim{
    padding-top: 30px;
    padding-bottom: 50px;
}

.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

section {
    padding: 15px 0;
    background-color:rgb(62, 124, 124, 0.1);
    border: none;
}

.skills .skills-content,
.contact .contact-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;  
    justify-content: space-between;
    margin-top: 5px;
    margin-left: 30px;
    
    
}
.skills .conhecimento{
    text-align: center;
    padding-bottom: 40px;
    margin-top: 20px;
    font-size: 35px;   
    font-family: 'poppins' , sans-serif;;            
}
/*Conhecimento*/

.skills .skills-content .column {
    width: calc(100% );
}
}
.skills .skills-content .center .bars {
    margin-bottom: 15px;
}

.skills .skills-content .center .info {
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
}

.skills .skills-content .center span {
    font-weight: 500;
    font-size: 18px;
}

.skills .skills-content .center .line {
    height: 5px;
    width: 100%;
    background: #fff;
    position: relative;
}

.skills .skills-content .center .line::before {
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background:cadetblue;
}

.skills-content .center .html::before {
   width: 90%;
}
.skills-content .center .css::before {
    width: 85%;
}
.skills-content .center .js::before {
    width: 70%;
}
.skills-content .center .bootstrap::before {

    width: 85%;
}
.skills-content .center .jquery::before {
    width: 70%;
}
.skills-content .center .github::before {
    width: 75%;
}
.skills-content .center .reat::before {
    width: 40%;
}

.skills-content .center .dotnet::before {
    width: 50%;
}

.skills-content .center.center .php::before {
    width: 30%;
}

.skills-content .center .mysql::before {
    width: 40%;
}
 /*Projetos*/
 .portfolio{
     background-color: white;
 }
 .portfolio__container {
    max-width: 90%;
}

.portfolio__title {
    text-align: center;
    margin-bottom: 2rem;
}

    .portfolio img {
      object-fit: cover;
      width: 100%;
      height: 300px;
      vertical-align: middle; }
  
  .img-port {
    padding: 5px; }
  
  .portfolio-box-caption {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    opacity: 0;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    padding: 4vw;
    text-align: center;
    transition: 0.5s; }
    
    .portfolio-box-caption:hover {
      opacity: 1;
      background-color: rgba(0, 0, 0, 0.8);
      transition: 0.5s; }
    .portfolio-box-caption:hover h4, .portfolio-box-caption:hover p {
    color: #fff; }

    /*Contato*/
    .contact{
        background-color::rgb(62, 124, 124, 0.1);
    }
    .contact .title::after {
        content: "get in touch";
    }
    
    .contact .contact-content .column {
        width: calc(50% - 30px);
    }
    
    .contact .contact-content .text {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 10px;
    }
    
    .contact .contact-content .left .icons {
        margin: 10px 0;
    }
    
    .contact .contact-content .row {
        display: flex;
        height: 65px;
        align-items: center;
    }
    
    .contact .contact-content .row .info {
        margin-left: 30px;
    }
    
    .contact .contact-content .row i {
        font-size: 25px;
        color: rgb(62, 124, 124);
    }
    
    .contact .contact-content .info .head {
        font-weight: 500;
    }
    
    .contact .contact-content .info .sub-title {
        color: #333;
    }
    
    .contact .right form .fields {
        display: flex;
    }
    
    .contact .right form .field,
    .contact .right form .fields .field {
        height: 45px;
        width: 100%;
        margin-bottom: 15px;
    }
    
    .contact .right form .textarea {
        height: 80px;
        width: 100%;
    }
    
    .contact .right form .name {
        margin-right: 10px;
    }
    
    .contact .right form .email {
        margin-left: 10px;  
    }
    
    .contact .right form .field input,
    .contact .right form .textarea textarea {
        height: 100%;
        width: 100%;
        border: 1px solid lightgrey;
        border-radius: 6px;
        outline: none;
        padding: 0 15px;
        font-size: 17px;
        font-family: 'Poppins', sans-serif;
        transition: all 0.3s ease;
    }
    
    .contact .right form .field input:focus,
    .contact .right form .textarea textarea:focus {
        border-color: #b3b3b3;
    }
    
    .contact .right form .textarea textarea {
        padding-top: 10px;
        resize: none;
    }
    
    .contact .right form .button {
        height: 47px;
        width: 170px;
    }
    
    .contact .right form .button button {
        width: 100%;
        height: 100%;
        border: 2px solid rgb(62, 124, 124);
        background: rgb(62, 124, 124);;
        color: #fff;
        outline: none;
        font-size: 20px;
        font-weight: 500;
        border-radius: 6px;
        cursor: pointer;
        transition: all 0.3s ease;
    }
    
    .contact .right form .button button:hover {
        color:rgb(62, 124, 124);
        background: none;
    }
    /*footer*/
    #footer{
        background-color:#2c2423;
        color: #fff;
        padding: 20px;
    }
 