@import url("https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700&family=Josefin+Slab:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&family=Muli:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&display=swap");
:root {
    --font-primary: "Baloo Da 2", serif;
    --font-secundary: "Josefin Slab", serif;
    --font-action: "Muli", serif;
  }
  
*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'poppins' , sans-serif;
    text-decoration: none;

}
/*Body*/
body{
    background:#f2f2f2  ;
}
/*logo*/
nav .logo{
    float: left;
    color: white;
    font-size: 27px;
    font-weight: 600px;
    line-height: 70px;
    padding-left:60px;
}
.logo a {
    color: whitesmoke;
}
/*Menu*/
nav{
    background:#1b1b1b;
    position: fixed;
        width: 100%;
        z-index:200;
        padding: 0px ;
}
nav:after{
    content: '';
    clear: both;
    display: table;
}
nav ul{
    float: right;
    list-style: none;
    margin-right: 40px;
    position: relative;
}
nav ul li{
    float: left;
    display: inline-block;
    background-color: #1b1b1b;
    margin: 0  5px;
    margin-top: 10px;
}
nav ul li a{
    color:white;
    text-decoration: none;
    line-height: 50px;
    font-size: 18px;
    padding: 8px 15px ;
    padding-right: 10px;
}
/*Menu effects*/
nav ul li a:hover{
    color: cyan;
    border-radius: 5px;
    box-shadow: 0 0 5px #33ffff ;
                
}
/*Remove the effects in the submenu*/
nav ul ul li a:hover{
    color:cyan;
    box-shadow: none;
}

nav ul ul{
    position: absolute;
    top: :90px;
    opacity: 0;
    visibility:hidden;
    transition: top .3s;
} /*make the submenu appear*/
nav ul li:hover > ul{
    opacity: 1;
    visibility: visible;
    
}
nav ul ul li{
    position: relative;
    margin: 0px;
    width: 150px;
    float: none;
    display: list-item;
    border-bottom: 1px solid rgba(0,0,0,0.3);
}
nav ul ul ul li{
    
position: relative;
top: -70px;;
left:150px ;
}

/*Main content*/
.conteudo-principal{
    
    font-size: 16px;
    /*Aplicar opacidade, transparencia na capa*/
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.30)100%),url('../img/bg1.jpg');
    height: 700px;
    background-size: cover;/*para especicar tamanho da imagem*/
    display: flex; /*joga os elementos em linha ou coluna*/
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;/*para que elementos comecem sempre da esquerda*/
    color:whitesmoke;
    
}
 /*Button formatting*/
 .conteudo-principal .descricao{
    margin-bottom: 10px
    
}
.conteudo-principal h3{
    margin-top: 10px;
}
.titulo{
    margin-top:30 %;
    font-size: 30px;
    font-family: "Baloo Da 2", serif;
} 
.conteudo-principal p{
    margin-top: 15px;
    font-primary: "Baloo Da 2", serif;
}
.typed-text{
    color: cyan;
}
/*Button formatting*/
    .btn{
        background-color: rgb(62, 124, 124);
        border: none;
        color:white;
        padding: 10px 30px;
        border-radius: 10px;
        margin-top:25px;;
        cursor: pointer;
        transition: 1s ease all;
        font-size: 16px;    
    }/*made of the button*/
    .btn:hover{
        background-color:#fff;
        color:black;
    }
   /* icon button spacing*/
    .btn i{
        margin-right: 8px;
    }
   /*Container 2*/
    .container_2{
        margin-left: 60px;
        text-align: justify;
        margin-bottom: 50px;
    }
    .conteudo-principal .container_2{
        width:70% ; /*ocupação do texto  na nossa tela*/

    }
    /*sobre*/
    .sobre-mim h2{
        
            display: flex;
            flex-wrap: wrap;
            margin-left: 500px;
            margin-top: 30px;
            padding-top: 10px;
      }
    .sobre-mim p{
        
        display: flex;
        flex-wrap: wrap;
        margin-left: 500px;
        margin-top: 30px;
        text-align: justify;
        margin-right: 110px;    
        margin-bottom: -30px;   
    }
.sobre-mim img{
        
    margin-top: -150px;
    margin-left: 110px;
    margin-bottom: 15px;
    

}
.sobre-mim{
    padding-top: 30px;
    padding-bottom: 50px;
}

.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

section {
    padding: 15px 0;
    background-color:rgb(62, 124, 124, 0.1);
    border: none;
}

.skills .skills-content,
.contact .contact-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;  
    justify-content: space-between;
    margin-top: 5px;
    margin-left: 30px;
    
    
}
.skills .conhecimento{
    text-align: center;
    padding-bottom: 40px;
    margin-top: 20px;
    font-size: 35px;               
}
/*Conhecimento*/

.skills .skills-content .column {
    width: calc(100% );
}
}
.skills .skills-content .center .bars {
    margin-bottom: 15px;
}

.skills .skills-content .center .info {
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
}

.skills .skills-content .center span {
    font-weight: 500;
    font-size: 18px;
}

.skills .skills-content .center .line {
    height: 5px;
    width: 100%;
    background: #fff;
    position: relative;
}

.skills .skills-content .center .line::before {
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background:cadetblue;
}

.skills-content .center .html::before {
   width: 90%;
}
.skills-content .center .css::before {
    width: 85%;
}
.skills-content .center .js::before {
    width: 70%;
}
.skills-content .center .bootstrap::before {

    width: 85%;
}
.skills-content .center .jquery::before {
    width: 70%;
}
.skills-content .center .github::before {
    width: 75%;
}
.skills-content .center .reat::before {
    width: 40%;
}

.skills-content .center .dotnet::before {
    width: 50%;
}

.skills-content .center.center .php::before {
    width: 30%;
}

.skills-content .center .mysql::before {
    width: 40%;
}

 