@import url("https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700&family=Josefin+Slab:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&family=Muli:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&display=swap");

*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'poppins' , sans-serif;
    text-decoration: none;

}
body{
    background:#f2f2f2  ;
}
nav .logo{
    float: left;
    color: white;
    font-size: 27px;
    font-weight: 600px;
    line-height: 70px;
    padding-left:60px;
}
.logo a {
    color: whitesmoke;
}
nav{
    background:#1b1b1b;
    position: fixed;
        width: 100%;
        z-index:200;
        padding: 0px ;
    
}
nav::after{
    content: '';
    clear: both;
    display: table;
}
nav ul{
    float: right;
    list-style: none;
    margin-right: 40px;
    position: relative;
}
nav ul li{
    float: left;
    display: inline-block;
    background-color: #1b1b1b;
    margin: 0  5px;
    margin-top: 10px;
}
nav ul li a{
    color:white;
    text-decoration: none;
    line-height: 50px;
    font-size: 18px;
    padding: 8px 15px ;
    padding-right: 10px;
}
/*Efeitos do menu*/
nav ul li a:hover{
    color: cyan;
    border-radius: 5px;
    box-shadow: 0 0 5px #33ffff ;
                
}
/*Tirar os efeitos no submenu*/
nav ul ul li a:hover{
    color:cyan;
    box-shadow: none;
}

nav ul ul{
    position: absolute;
    top: :90px;
    opacity: 0;
    visibility:hidden;
    transition: top .3s;
} /*fazer aparecer o submenu*/
nav ul li:hover > ul{
    opacity: 1;
    visibility: visible;
    
}
nav ul ul li{
    position: relative;
    margin: 0px;
    width: 150px;
    float: none;
    display: list-item;
    border-bottom: 1px solid rgba(0,0,0,0.3);

}
nav ul ul ul li{
    
position: relative;
top: -70px;;
left:150px ;
}

/*Conteúdo principal*/
.conteudo-principal{
    
    font-size: 16px;
    /*Aplicar opacidade, transparencia na capa*/
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.30)100%),url('../img/bg1.jpg');
    height: 700px;
    background-size: cover;/*para especicar tamanho da imagem*/
    display: flex; /*joga os elementos em linha ou coluna*/
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;/*para que elementos comecem sempre da esquerda*/
    color:whitesmoke;
    
}
 /*Formatação de botões*/
 .conteudo-principal .descricao{
    margin-bottom: 10px
    
}
.conteudo-principal h3{
    margin-top: 10px;
}
.titulo{
    margin-top:30 %;
    font-size: 30px;
    font-family: 'Trebuchet MS', Arial, sans-serif
    
   
    
} 
.conteudo-principal p{
    margin-top: 15px;
    font-family:'Trebuchet MS', Arial, sans-serif ;
}
.typed-text{
    color: cyan;
    
}

/*Formatação botão*/
    .btn{
        background-color: rgb(62, 124, 124);
        border: none;
        color:white;
        padding: 10px 30px;
        border-radius: 10px;
        margin-top:25px;;
         cursor: pointer;
         transition: 1s ease all;
         font-size: 16px;
         
        
    }/*efeitos do botão*/
    .btn:hover{
        background-color:#fff;
        color:black;
    }
    .btn i{
        margin-right: 8px;/*espaçamento do botão com icone*/
    }
   
    .container_2{
        margin-left: 60px;
        text-align: justify;
        margin-bottom: 50px;
        

    }
    .conteudo-principal .container_2{
        width:70% ; /*ocupação do texto  na nossa tela*/

    }
    .sobre-mim h2{
        
            display: flex;
            flex-wrap: wrap;
            margin-left: 500px;
            margin-top: 30px;
            padding-top: 10px;
            
        
    }
    .sobre-mim p{
        
        display: flex;
        flex-wrap: wrap;
        margin-left: 500px;
        margin-top: 30px;
        text-align: justify;
        margin-right: 110px;    
        margin-bottom: -30px;   
    
}
.sobre-mim img{
        
    margin-top: -150px;
    margin-left: 110px;
    margin-bottom: 20px;
    

}
.sobre-mim{
    padding-top: 30px;
    padding-bottom: 50px;
}


 